<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Spring Security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:substituteby="index::logout"></div>
        <h1>This is a secured page!</h1>
        <p>Now you can access the service by visiting the url (e.g. "localhost:8080/user/wordladder?a=end&b=pin")</p>
        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
    </body>
</html>
